### ROS2 ###
# Ignore build, install, and log directories created by colcon
build/
install/
log/

# Ignore generated documentation files
*.dox
*.wikidoc

# General temporary files and editor/OS specific files (optional, but recommended)
# macOS
.DS_Store

# Linux
*~

# VS Code specific files (if using VS Code)
.vscode/

# Python virtual environments
.venv/
venv/
env/

# Other common build/temp files
__pycache__/
*.pyc
*.pyo

# CMake related files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake

# Catkin specific (less common in ROS2, but good for compatibility)
devel/
